.document-content {
  &:nth-of-type(1) {
    .c-title {
      color: red;
    }
  }

  &:nth-of-type(2) {
    .c-title {
      color: green;
    }
  }

  &:nth-of-type(3) {
    .c-title {
      color: blue;
    }
  }

  .c-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .c-p {
    line-height: 24px;
    margin-bottom: 30px;
    white-space: pre-wrap;
  }
}
